<div class="d-flex align-items-center justify-content-center mt-5">
    <h1> Welcome to <strong>Scheduled Tweets</strong></h1>
    <%# <%= image_tag ("twitter_icon.png")%>
</div>

<div class="text-center mt-5 mb-5 ">
    <p> This app will help you to schedule tweets with a simple method.</p>
    <p> Follow us and enter to our team ! </p>
</div>

<div class="d-flex justify-content-center mt-5">
    <% if Current.user.twitter_accounts.any? %>
        <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn btn-primary" %>
    <% elsif Current.user%>
        <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary p-3" %>
    <% else %>
        <%= link_to "Get started !", sign_up_path, class: "btn btn-primary p-3" %>
    <% end %>
</div>
